:root {
    --full: 1.5rem;
    --unfull: calc(var(--full) * -1.0);
    --half: calc(var(--full) * 0.5);
    --unhalf: calc(var(--full) * -0.5);
    --quarter: calc(var(--full) * 0.25);
    --double: calc(var(--full) * 2.0);
    --tpad: 1vw;
    --main-pad: var(--full);
    --main-unpad: calc(var(--main-pad) * -1.0);
}
* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-indent: 0;
    font-weight: 400;
    font-style: normal;
}
body {
    color: black;
    font: min(3vw, 150%) 'Laila', serif;
    font-weight: 400;
    background-color: white;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    line-height: 150%;
    max-width: 35em;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Cinzel Decorative', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: var(--half) 0;
    padding: var(--quarter) 0;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
    margin-top: 0;
}
h1 {
    font-size: 140%;
    color: #eee;
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
    background-color: rgb(24, 48, 72);
}
h2 {
    margin-top: var(--double);
    font-size: 130%;
    color: rgba(24, 48, 72, 0.9);
    border-top: thin solid rgba(24, 48, 72, 0.2);
}
h1+h2 {
    margin-top: var(--unhalf);
}
h3 {
    font-size: 120%;
    color: #222;
}
h4 {
    font-size: 110%;
    color: #111;
}
a {
    color: #369;
    display: inline-block;
}
a:hover, a:focus {
    color: #48f;
    background-color: #FFEEBB;
}
p a:hover, a:focus {
    padding: 0 0.2em;
    margin: 0 -0.2em;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
table {
    width: auto;
    margin: 0 auto;
    font-size: 90%;
}
th {
    background: linear-gradient(rgba(24, 48, 72, 0.9), rgba(24, 48, 72, 0.5));
    color: #eee;
}
th, td {
    padding: calc(var(--tpad) * 0.5) var(--tpad);
}
td {
    vertical-align: top;
}
table {
    position: relative;
}
table thead {
    position: sticky;
    top: 0;
}
tr:nth-of-type(2n) {
    background-color: rgba(64, 128, 192, 0.1);
}
ul > li, ol > li {
    margin-left: var(--double);
    padding: var(--quarter) 0;
}
ul > li {
    list-style: disc;
}
ol > li {
    list-style: decimal;
}
.site-footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: #777;
    padding: var(--full);
    font-size: 80%;
}
.site-footer a {
    color: #aaa;
}
.site-footer a:hover, .site-footer a:focus {
    color: #369;
}
blockquote {
    /*background: linear-gradient(270deg, #369, #369 var(--quarter), rgba(24, 48, 72, 0.05) var(--quarter));*/
    background-color: rgba(24, 48, 72, 0.05);
    padding: var(--half)  calc(var(--half) + var(--quarter)) var(--half) var(--half);
    position: relative;
    margin: var(--double) var(--half) var(--full) var(--half);
    color: #246;
    border: thin solid rgba(24, 48, 72, 0.5);
    border-radius: var(--half);
    /*font-size: 105%;*/
    font-family: 'Overlock', cursive;
    break-inside: avoid;
    page-break-inside: avoid;
}
blockquote:before {
    content: 'â';
    font-size: 400%;
    position: absolute;
    top: -0.125em;
    left: -0.25em;
    color: #369;
}
blockquote p:only-child {
    margin: 0;
    padding: 0;
}
.eyechart {
    font-size: 80%;
    line-height: 120%;
}
.prev {
    position: sticky;
    top: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
}
.prev-link {
    line-height: var(--double);
    display: block;
    text-align: center;
    color: rgba(176, 208, 240, 0.9);
    font-size: 90%;
}
.prev-footer {
    /*margin: var(--double) var(--unfull) var(--unfull) var(--unfull);*/
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.prev-link:hover {
    background-color: #222;
    color: #def;
}
pre, code {
    font-family: 'Share Tech Mono', monospace;
}
pre {
    background-color: rgba(24, 48, 72, 0.05);
    padding: var(--half)  calc(var(--half) + var(--quarter)) var(--half) var(--half);
    box-shadow: 0 0 0.5em rgba(24, 48, 72, 0.5);
    margin: var(--full) var(--half) var(--full) var(--half);
    color: #246;
    border: thin solid rgba(24, 48, 72, 0.5);
}
.max-width-half {
    max-width: 50%;
    margin: 0 auto;
    display: block;
}
.full-width {
    width: 100%;
}
.art {
    margin: var(--half);
    border: thin solid rgba(80, 160, 240, 0.5);
    background-color: white;
    padding: 0;
    break-inside: avoid;
    page-break-inside: avoid;
}
.art img {
    display: block;
}
.art a {
    display: block;
    background-color: rgba(24, 48, 72, 0.1);
    text-align: center;
    font-size: 90%;
    color: rgba(24, 48, 72, 0.8);
}
p.art a:hover {
    background-color: #369;
    color: white;
    padding: unset;
    margin: unset;
}

@media screen {
    html {
        height: 100%;
        background-color: #111;
    }
    body {
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    }
    .main-content {
        padding: var(--main-pad);
    }
    h1, h2 {
        margin-left: var(--unfull);
        margin-right: var(--unfull);
        padding: var(--full);
    }
    h1:first-child {
        margin-top: var(--main-unpad);
    }
    h2 {
        background: linear-gradient(rgba(24, 48, 72, 0.1), transparent var(--half));
    }
    .art {
        box-shadow: 0 0 var(--half) #369;
    }
    blockquote {
        box-shadow: 0 0 0.5em rgba(24, 48, 72, 0.5);
    }
    blockquote:before {
        text-shadow: 0 0 0.05em rgba(24, 48, 72, 0.5);
    }
}

@media print {
    body {
        font-size: 2vw;
        max-width: 45em;
    }

    .prev, .prev-link, .site-footer {
        display: none;
    }

    h1 {
        padding: var(--half) 0;
        background-color: transparent;
        border-bottom: thin solid #369;
        color: #369;
    }
    blockquote {
        margin-left: var(--double);
    }
    .art {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 640px) {
    :root {
        --main-pad: var(--half);
    }
    body {
        font-size: 3.5vw;
    }
    h1, h2 {
        margin-left: var(--main-unpad);
        margin-right: var(--main-unpad);
    }
    h1, h2, .main-content {
        padding: var(--half);
    }
    .prev {
        margin-bottom: 0;
    }
    ul > li, ol > li {
        margin-left: var(--full);
        padding: var(--quarter) 0;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 4vw;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #ccc;
    }
    h2 {
        color: rgba(80, 160, 240, 0.9);
        background: linear-gradient(rgba(80, 160, 240, 0.2), transparent var(--half));
    }
    h3 {
        color: rgba(64, 128, 192, 0.9);
    }
    a {
        color: #48C;
    }
    a:hover {
        background-color: rgba(255, 248, 188, 0.2);
    }
    .site-footer {
        background-color: rgba(24, 48, 72, 0.4);
    }
    blockquote {
        color: rgb(163, 184, 204);
        background-color: rgba(80, 160, 240, 0.1);
    }
    blockquote:before {
        color: rgb(122, 138, 153);
    }
    .art {
        background-color: rgba(24, 48, 72, 0.1);
    }
    .art a {
        background-color: rgba(255, 255, 255, 0.1);
        color: #999;
    }
}
