<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title | default: '' }} | {{ site.title }}</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="#157878" name="theme-color">
  <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
  <meta content="{{ page.description | default: 'Rick Osborne&apos;s TTRPG Materials' | strip }}" name="description">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Laila&family=Overlock&family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/rickosborne-ttrpg.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="icon" href="{{ '/assets/ttrpg-favicon.svg?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body class="{% for tag in page.tags %}{{ tag | slugify }} {% endfor %}{% if page.prev %} has-prev{% endif %}">
{% if page.prev %}
<nav class="prev">
  <a href="{{ page.prev.href | default: '..' }}" class="prev-link">&larr; {{ page.prev.title | default: 'Up' }}</a>
</nav>
{% endif %}

<div id="pre-page"></div>

<main id="page" role="main">
  <div class="main-content" id="content">
    {{ content }}
  </div>
</main>

{% if page.prev %}
<nav class="prev-footer">
  <a href="{{ page.prev.href | default: '..' }}" class="prev-link">&larr; {{ page.prev.title | default: 'Up' }}</a>
</nav>
{% endif %}


<footer class="site-footer">
  {% if page.next %}
  <nav id="next">
    <a href="{{ page.next.href }}.html"><span class="next-label">Next:</span> <span class="next-title">{{ page.next.title }}</span><span class="next-arrow"> &#9658;</span></a>
  </nav>
  {% endif %}
  <div id="post-page"></div>
  {% if site.github.is_project_page %}
  <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
  {% endif %}
</footer>

</body>
</html>
